<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="https://github.com/dicthub">OpenSource</a></li>
      <li><a href="{{ site.baseurl }}/about/">About</a></li>
    </ul>
    <p>Website theme proudly powered and imported from <a href="https://getbootstrap.com">Bootstrap</a> Github Pages</p>
    <p>Icons sourced from <a href="https://icons8.com" target="_blank">icons8</a> and <a href="https://github.com/danklammer/bytesize-icons" target="_blank">bytesize-icons</a></p>
    <p>Currently v{{ site.current_version }}. Code licensed <a href="{{ site.repo }}/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>
