<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{%- if page.layout == "docs" or page.layout != "examples" -%}
<!-- Documentation extras -->
{% if page.layout == "docs" %}
<link href="https://getbootstrap.com/docs/4.3/assets/css/docs.min.css" rel="stylesheet">
{% endif %}
{% if page.layout != "examples" %}
<link href="https://getbootstrap.com/docs/4.3/assets/css/docs.min.css" rel="stylesheet">
{% endif %}
{%- endif -%}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">